DEBUG=True
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=psql://momotools:momotools@db:5432/momotools

POSTGRES_DB=momotools
POSTGRES_USER=momotools
POSTGRES_PASSWORD=momotools
